.app-article {
  $borderRadius: 5px;

  border-radius: $borderRadius;
  background-color: #fff;
  box-shadow: 0 0 5px 0 #ccc;
  color: black;

  &__img {
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: $borderRadius $borderRadius 0 0;
  }

  &__tag-container {
    position: absolute;
    top: -80px;
  }

  &__title {
      font-size: 20px;
      color: inherit;
  }

  &__desc {
    font-size: 18px;
    color: gray;
  }

  &__container {
    position: relative;
    padding: 0 30px;

    @media only screen and (max-width: 991px) {
      padding: 0 15px;
    }

    @media only screen and (max-width: 767px) {
      padding: 0 10px;
    }
  }

  &__footer {
    border-top: 1px solid #ccc;
    padding: 15px 0;
  }

  &__date-and-social {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__date,
  &__social {
    flex: 1;
    font-size: 14px;
    color: gray;
  }

  &__social {
    display: flex;
    justify-content: flex-end;
  }
}
